{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div id="Block--{{ block.id }}" class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
              <p class="announcement-bar__message h5">
                {{ block.settings.text | escape }}
                {%- if block.settings.link != blank -%}
                  {% render 'icon-arrow' %}
                {%- endif -%}
              </p>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}

{%- style -%}
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
    #Block--{{ block.id }}.announcement-bar{
      background-color: {{ block.settings.background_color_light }};
      color: {{ block.settings.text_color_light }};
    }
    #Block--{{ block.id }}.announcement-bar p{
      color: {{ block.settings.text_color_light }};
    }
    body.theme-dark-mode #Block--{{ block.id }}.announcement-bar{
      background-color: {{ block.settings.background_color_dark }};
    }
    body.theme-dark-mode #Block--{{ block.id }}.announcement-bar p{
      color: {{ block.settings.text_color_dark }};
    }
  {%- endcase -%}
{%- endfor -%}
{%- endstyle -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        },
        {
          "type": "header",
          "content": "Styles"
        },
        {
          "type": "color",
          "id": "background_color_light",
          "label": "Background colour - light"
        },
        {
          "type": "color",
          "id": "background_color_dark",
          "label": "Background colour - dark"
        },
        {
          "type": "color",
          "id": "text_color_light",
          "label": "Text colour - light",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "text_color_dark",
          "label": "Text colour - dark",
          "default": "#FFFFFF"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
