<link rel="stylesheet" href="{{ 'section-page-head.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-page-head.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-head isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <style>
                #block--{{ block.id }}{
                  font-size: {{ block.settings.font_size_mobile }}px;
                }
                @media (min-width:750px) {
                  #block--{{ block.id }}{
                    font-size: {{ block.settings.font_size_desktop }}px;
                  }
                }
              </style>
              <h2 id="block--{{ block.id }}" class="rich-text__heading rte" {{ block.shopify_attributes }}>
                {{ block.settings.heading | replace: 'p>', 'span>' }}
              </h2>
            {%- when 'caption' -%}
            <style>
                #block--{{ block.id }}{
                  font-size: {{ block.settings.font_size_mobile }}px;
                }
                @media (min-width:750px) {
                  #block--{{ block.id }}{
                    font-size: {{ block.settings.font_size_desktop }}px;
                  }
                }
              </style>
              <p id="block--{{ block.id }}" class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
                <style>
                  #block--{{ block.id }} *,
                  #block--{{ block.id }}{
                    font-size: {{ block.settings.font_size_mobile }}px;
                  }
                  @media (min-width:750px) {
                    #block--{{ block.id }} *,
                    #block--{{ block.id }}{
                      font-size: {{ block.settings.font_size_desktop }}px;
                    }
                  }
                </style>
              <div id="block--{{ block.id }}" class="rich-text__text rte" {{ block.shopify_attributes }}>
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
                <style>
                  #block--{{ block.id }} .rich-text__buttons-first{
                    font-size: {{ block.settings.first_button_font_size_mobile }}px;
                  }
                  #block--{{ block.id }} .rich-text__buttons-second{
                    font-size: {{ block.settings.second_button_font_size_mobile }}px;
                  }
                  @media (min-width:750px) {
                    #block--{{ block.id }} .rich-text__buttons-first{
                      font-size: {{ block.settings.first_button_font_size_desktop }}px;
                    }
                    #block--{{ block.id }} .rich-text__buttons-second{
                      font-size: {{ block.settings.second_button_font_size_desktop }}px;
                    }
                  }
                </style>
              <div id="block--{{ block.id }}" class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
                {%- if block.settings.button_label != blank -%}
                  <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button rich-text__buttons-first{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label | escape }}</a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a{% if block.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button rich-text__buttons-second{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page head",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Desktop content position",
      "info": "Position is automatically optimized for mobile."
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Content alignment"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Make section full width"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>Talk about your brand</p>",
          "label": "Heading"
        },
        {
          "type": "range",
          "id": "font_size_mobile",
          "min": 5,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 42
        },
        {
          "type": "range",
          "id": "font_size_desktop",
          "min": 5,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size - desktop",
          "default": 56
        }
      ]
    },
    {
      "type": "caption",
      "name": "Caption",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "Uppercase"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "Text style"
        },
        {
          "type": "range",
          "id": "font_size_mobile",
          "min": 5,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 14
        },
        {
          "type": "range",
          "id": "font_size_desktop",
          "min": 5,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size - desktop",
          "default": 16
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 3,
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "default": "Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.",
          "label": "Description"
        },
        {
          "type": "range",
          "id": "font_size_mobile",
          "min": 5,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 15
        },
        {
          "type": "range",
          "id": "font_size_desktop",
          "min": 5,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font size - desktop",
          "default": 24
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "First button label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "First button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Use outline button style"
        },
        {
          "type": "range",
          "id": "first_button_font_size_mobile",
          "min": 5,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "First button font size - mobile",
          "default": 16
        },
        {
          "type": "range",
          "id": "first_button_font_size_desktop",
          "min": 5,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "First button font size - desktop",
          "default": 24
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "Second button label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Second button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "Use outline button style"
        },
        {
          "type": "range",
          "id": "second_button_font_size_mobile",
          "min": 5,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Second button font size - mobile",
          "default": 16
        },
        {
          "type": "range",
          "id": "second_button_font_size_desktop",
          "min": 5,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Second button font size - desktop",
          "default": 24
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page head",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
