{{ 'scrolling-announcement-bar.css' | asset_url | stylesheet_tag }}

{%- if section.settings.show_section -%}
<div class="scrolling-announcement-bar color-{{ block.settings.color_scheme }}">
  <div class="scrolling-announcement-bar__scroller">
    {%- for block in section.blocks -%}
    <p class="announcement-bar__message h5">{{ block.settings.text | escape }}</p>
    <span class="dot"></span>
    {%- endfor -%}
    {%- for block in section.blocks -%}
    <p aria-hidden="true" class="announcement-bar__message h5">{{ block.settings.text | escape }}</p>
    <span class="dot"></span>
    {%- endfor -%}
    {%- for block in section.blocks -%}
    <p aria-hidden="true" class="announcement-bar__message h5">{{ block.settings.text | escape }}</p>
    <span class="dot"></span>
    {%- endfor -%}
  </div>
</div>
{%- endif -%}

<style>
.dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color:{{ section.settings.text_color }};
}
.scrolling-announcement-bar {
  width: min(100vw, 100vw);
  height: auto;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-color: {{ section.settings.background_color }};
  color: {{ section.settings.text_color }};
}

.scrolling-announcement-bar .scrolling-announcement-bar__scroller {
  height: 100%;
  animation: scroll 30s linear infinite;
  animation-fill-mode: forwards;
  display: inline-block;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrolling-announcement-bar .scrolling-announcement-bar__scroller p{
  padding: 10px;
  height: 100%;
  width: auto;
  display: inline-block;
  color: inherit;
}
</style>

{% schema %}
{
  "name": "Scrolling announcement",
  "max_blocks": 12,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "default": false,
      "label": "Show section?"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background colour",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Colour",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Scrolling announcement",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
